<app-navbar></app-navbar>

<div class="my-16 grid xl:grid-cols-2 border-y border-gray-300">
  <div class="py-12 px-4 xl:px-24 border-b border-gray-300 text-center xl:text-start xl:border-r">
    <p class="font-semibold">Despre noi</p>

    <p class="font-medium text-xl xl:text-4xl mt-5 xl:w-1/2">
      Din dragoste pentru oameni
    </p>
  </div>

  <div class="xl:col-start-2 xl:row-span-2 flex flex-col py-24 px-10 gap-20">
    <p>
      Ancos Energy a fost fondată în 2024 de către Andrei Cosma, un tânăr
      inginer, cu o viziune îndrăzneață și o pasiune puternică pentru inovație.
      Compania își propune să redefinească standardele în industria gazelor
      naturale. Cu toate că suntem o companie nouă, ne putem lăuda cu o echipă
      de profesioniști cu o expertiză de peste 20 de ani acumulată în cadrul
      marilor companii din industrie, asigurând astfel că suntem pregătiți să
      facem față oricăror provocări.
    </p>

    <div>
      <p class="font-semibold">Serviciile noastre</p>

      <p class="mt-5">
        Oferim orice fel de serviciu pentru instalatiile de gaze naturale
      </p>
    </div>

    <div>
      <p class="font-semibold">Experiență</p>

      <p class="mt-5">
        Echipa noastră de ingineri reprezintă esența competenței și
        profesionalismului în cadrul Ancos Energy. Cu o experiență vastă în
        domeniul instalațiilor de gaz, fiecare inginer aduce cu sine o expertiză
        unică și o pasiune inegalabilă pentru inovație.
      </p>
    </div>

    <div>
      <p class="font-semibold">Simț de raspundere</p>

      <p class="mt-5">
        La Ancos Energy, suntem ferm angajați să fim responsabili în toate
        aspectele activității noastre. Ne asumăm întotdeauna responsabilitatea
        pentru acțiunile noastre și căutăm constant modalități de a ne
        îmbunătăți practicile pentru a fi mai eficienți și mai sustenabili.
      </p>
    </div>
  </div>

  <div class="p-5 xl:p-20 xl:border-r border-gray-300">
    <img class="w-full" src="./assets/photos/poza2.jpg" alt="">
  </div>
</div>

<app-footer></app-footer>
