<div class="flex justify-between p-2 bg-[#201b1b]">
    <div class="max-w-52">
        <img src="./assets/logos/Ancos_Alb.png">
    </div>

    <div class="flex flex-wrap gap-6 items-center text-white">
        <p class="cursor-pointer hover:text-orange-500">ACASA</p>
        <p class="cursor-pointer hover:text-orange-500">SERVICII</p>
        <p class="cursor-pointer hover:text-orange-500">DESPRE NOI</p>
        <p class="cursor-pointer hover:text-orange-500">CONTACT</p>

        <button class="bg-orange-500 py-3 px-4 rounded-3xl">Obtine o oferta</button>
    </div>
</div>