<app-navbar></app-navbar>

<div class="contact-section mt-20">
  <div class="flex justify-center pt-9">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScpTye04jAgm8iuMNeWs9QSTRMAQThU8ixmZLzxvHBjQvXx3A/viewform?embedded=true"
      width="1240"
      [height]="iframeHeight"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>

  <div class="flex justify-center pb-32">
    <div class="bg-[#201b1b] rounded-3xl text-white text-center p-5 w-[80vw]">
      <div class="mb-20">
        <p class="font-semibold">Contactati-ne</p>

        <p class="text-3xl mt-4">Pentru orice informatie ne puteti gasi la:</p>
      </div>

      <div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
        <div>
          <p class="font-semibold">Program</p>

          <p class="mt-2 xl:mt-4">Luni - Duminca: 08:00 - 21:00</p>
        </div>

        <div>
          <p class="font-semibold">Email</p>

          <p class="mt-2 xl:mt-4">andrei.cosma@ancosenergy.ro</p>
        </div>

        <div>
          <p class="font-semibold">Telefon</p>

          <p class="mt-2 xl:mt-4">
            Tehnic: +40 735 848 875  <span><br></span>
            Director general: +40 726 772 841
          </p>
        </div>

        <div class="">
          <p class="font-semibold mb-2 xl:mb-4">Social Media</p>

          <a
            class="hover:text-orange-500"
            href="http:// "
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
          <br />
          <a
            class="hover:text-orange-500"
            href="http:// "
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
