<app-navbar></app-navbar>

<!-- video background section -->
<div class="relative flex h-[90vh]">
  <video
    class="object-cover w-full"
    src="./assets/videos/Video.mp4"
    autoplay
    muted
    loop
  ></video>

  <div
    class="w-[50vw] absolute container left-[20vw] top-[25vh] lg:top-[20vh] xl:top-[25vh] text-white"
  >
    <p class="text-white sm:text-3xl lg:text-7xl">
      Agent autorizat ANRE pentru proiectarea si executia instalatiilor de gaze
      naturale
    </p>

    <p class="my-1 xs:my-5 text-xs sm:text-base xl:text-3xl">
      Peste 20 de ani de experienta
    </p>

    <button
      (click)="goToContact()"
      class="flex gap-3 items-center bg-orange-500 p-1 xs:py-3 xs:px-4 rounded-3xl text-[0.5rem] xs:text-sm hover:bg-white hover:text-black hover:border hover:border-black transition duration-200 orange-btn"
    >
      <p>Obtine o oferta</p>

      <mat-icon
        class="arrow-se text-base transition duration-200 hover:-rotate-45"
        >south_east</mat-icon
      >
    </button>
  </div>
</div>

<!-- despre noi -->
<div class="container grid sm:grid-cols-2 gap-6 my-24 px-3">
  <div class="text-[#333]">
    <p class="font-bold">Despre noi</p>

    <p class="font-medium my-5 text-4xl" #animatedDivs>
      Oferim soluții profesionale astfel încât să livrăm proiecte sustenabile și
      eficiente
    </p>

    <p class="text-xl">
      1999 Ancos Energy Install este o echipă născută din pură pasiune pentru
      ingineria gazelor naturale și beneficiile pe care această sursă de energie
      le aduce.
    </p>

    <button
      class="mt-5 bg-black text-white px-4 py-3 rounded-3xl hover:bg-white hover:border hover:border-black hover:text-black"
    >
      Mai multe despre noi
    </button>
  </div>

  <div>
    <img src="./assets/photos/poza_sectiune1.jpg" alt="" />
  </div>
</div>

<!-- serviciile noastre -->
<div class="border-y border-gray-border-line mb-24">
  <div
    class="container grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 px-3 gap-10 pb-20 xl:pb-0"
  >
    <div
      class="sm:col-span-2 xl:col-span-1 xl:row-span-3 pt-20 xl:border-r border-gray-border-line"
    >
      <p class="title-text text-center xl:text-start">Serviciile noastre</p>
      <p
        class="mt-4 mb-5 text-3xl xl:text-4xl text-center xl:text-start"
        #animatedDivs
      >
        Oferim servicii pentru instalatii de gaze naturale la cheie
      </p>

      <div class="flex justify-center xl:justify-start">
        <button
          class="mt-5 bg-black text-white px-4 py-3 rounded-3xl hover:bg-white hover:border hover:border-black hover:text-black"
        >
          Toate serviciile
        </button>
      </div>
    </div>

    <div class="text-center xl:px-24 xl:py-20">
      <div class="flex justify-center">
        <img
          class="w-24"
          #animatedDivs
          src="./assets/icons/proiectare.png"
          alt=""
        />
      </div>

      <p class="title-text my-5">Proiectare si executie</p>

      <p class="text-xl">
        1999 Ancos Energy Install este o echipă născută din pură pasiune pentru
        ingineria gazelor naturale și beneficiile pe care această sursă de
        energie le aduce.
      </p>
    </div>

    <div class="text-center xl:px-24 xl:py-20">
      <div class="flex justify-center">
        <img
          class="w-24"
          #animatedDivs
          src="./assets/icons/verificari.png"
          alt=""
        />
      </div>

      <p class="title-text my-5">Verificari si revizii</p>

      <p class="text-xl">
        1999 Ancos Energy Install este o echipă născută din pură pasiune pentru
        ingineria gazelor naturale și beneficiile pe care această sursă de
        energie le aduce.
      </p>
    </div>

    <div class="text-center xl:px-24 xl:py-20">
      <div class="flex justify-center">
        <img
          class="w-24"
          #animatedDivs
          src="./assets/icons/termice.png"
          alt=""
        />
      </div>

      <p class="title-text my-5">Instalatii termice</p>

      <p class="text-xl">
        1999 Ancos Energy Install este o echipă născută din pură pasiune pentru
        ingineria gazelor naturale și beneficiile pe care această sursă de
        energie le aduce.
      </p>
    </div>

    <div class="text-center xl:px-24 xl:py-20">
      <div class="flex justify-center">
        <img
          class="w-24"
          #animatedDivs
          src="./assets/icons/centrala.png"
          alt=""
        />
      </div>

      <p class="title-text my-5">Centrala termica</p>

      <p class="text-xl">
        1999 Ancos Energy Install este o echipă născută din pură pasiune pentru
        ingineria gazelor naturale și beneficiile pe care această sursă de
        energie le aduce.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
