<div class="bg-[#201b1b]">
  <div class="container grid grid-cols-4 py-10">
    <div class="text-xs text-orange-500 max-w-40">
      All content © 2024 Ancos Energy. All rights reserved. Engineered by Andrei
      Cosma. Unauthorized reproduction, distribution, or modification is
      strictly prohibited.
    </div>

    <div class="flex flex-col gap-1 px-24 text-white">
      <p class="text-orange-500 text-lg font-bold">Confidentialitate</p>

      <a class="text-xs hover:text-orange-500" href="">Cookies</a>
      <a class="text-xs hover:text-orange-500" href="">Terms and Conditions</a>
      <a class="text-xs hover:text-orange-500" href="">Privacy Policy</a>
    </div>

    <div class="flex flex-col gap-1 px-24 text-white">
      <p class="text-orange-500 text-lg font-bold">Link-uri utile</p>

      <a class="text-xs hover:text-orange-500" href="">
        Agenti autorizati A.N.R.E
      </a>

      <a class="text-xs hover:text-orange-500" href="">A.N.P.C.</a>

      <a class="text-xs hover:text-orange-500" href="">
        Platforma nationala pentru situatii de urgenta
      </a>
    </div>

    <div class="flex justify-end">
      <img class="w-52 h-20" src="./assets/logos/Ancos_Alb.png" />
    </div>
  </div>
</div>
